services:
  app: 
    image: "yuniques/devops-for-programmers-project-74"
    build:
      context: .
      dockerfile: Dockerfile.production
    ports: 
      - "8080:8080"
    volumes:
      - ./app:/app
