services:
  app: 
    image: "yuniques/devops-for-programmers-project-74"
    build:
      context: .
      dockerfile: Dockerfile.production
    ports: 
      - "8080:8080"
    volumes:
      - ./app:/app

  caddy:
    image: caddy:<version>
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/conf:/etc/caddy
      - $PWD/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
     - app

volumes:
  caddy_data:
  caddy_config:
