services:
  app: 
    image: yuniques/devops-for-programmers-project-74:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "8080:8080"
    volumes:
      - ./app:/app
    command: make dev

  caddy:
    image: caddy:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/conf:/etc/caddy
      - $PWD/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
     - app

volumes:
  caddy_data:
  caddy_config:
