name: push

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  make-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Run test
        run: make ci

  docker-push:
    runs-on: ubuntu-latest
    steps:     
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: yuniques/devops-for-programmers-project-74:latest